/* .card {
  max-width: 413px;
} */

.card__title {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  font-style: medium;
  line-height: 1.2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-orient: vertical;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/spots-images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 100%;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
