.footer {
}
.footer__copyright {
  font-family: "Poppins";

  font-size: 16px;
  font-style: medium;
  margin: 60px 0 0;
  color: rgba(33, 33, 33, 0.7);
  text-align: center;
  padding-bottom: 60px;
}
