.header {
  background-color: #fff;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  font-family: "DM Mono" Arial, Helvetica, sans-serif;
}

.header__logo {
  width: 94px;
  height: 26px;
}
