/* font style */
.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_is-opened {
  visibility: hidden;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 50%;
}

.modal__title {
  margin: 0 50px 32px;
  size: 32px;
  font-weight: 500;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  margin: 32px 50px;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;

  size: 16px;
  line-height: 110%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.modal__input {
  display: block;

  width: 100%;
  margin: 8px 0 0;

  padding: 16px 8px;
  border-radius: 8px;
  border-color: #21212166;
  font-weight: 500;
  size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__submit-btn {
  max-width: 156px;

  width: 100%;
  height: 52px;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  padding: 18px 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 627px) {
  .modal__title {
    size: 20px;
  }

  .modal__input {
    size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
