.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 0 20px;

  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 16px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  margin-top: auto;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.profile__edit-btn:hover {
  color: rgba(33, 33, 33, 1);
}

.profile__add-btn {
  margin-left: auto;
  border-radius: 16px;
  background-color: #212121;
  height: 52px;
  width: 149px;
  font-family: "Poppins-medium";
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}
@media screen and (min-width: 628px) {
  .profile__add-btn {
    position: relative;
    top: 138px;
  }
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    max-width: 288px;
  }
  .profile__description {
    margin: 0 0 32px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
